@import '../../../../../assets/styles/variables';

.button {
  font-size: 16px;
  background-color: $accent;
  border: none;
  outline: none;
  border-radius: 30px;
  box-shadow: 0 3px 6px rgba($accent, .4);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 5px;
  width: 200px;

  .text {
    color: $white;
  }

  .icon {
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .4s ease-in-out;
  }

  &:hover {
    .icon {
      transform: translateX(5px);
    }
  }
}